#btn-knowledge {
  width: 100%;
  margin: 10px 0px;
  padding: 20px 0px;
}

#btn-learn {
  width: 100%;
  margin: 10px 0px;
  padding: 20px 0px;
}

body, html {
  height: 100%;
  background-color: #fcf9fa;
  font-family:'Georgia', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.btn{
  background-color:#f1d6e1;
  color: #dc548a;
  border-color: #dc548a;
}

.btn:hover {
  background-color:#dc548a;
  color: #fcf9fa;
  border-color: #dc548a;
}

.btn-p{
  margin-left: 300px;
}

.circular{
  border-radius: 50%;
  width: 100%;
  
}

.index-title{
  margin-top: 60px;
  margin-bottom: 40px;
  color: #dc548a;
  font: italic 4em "Georgia", serif;
}

.first-btn{
  margin-top: 40px;
  margin-bottom: 15px;
}

.move-title {
  padding-top: 20px;
}

.material {
  margin-left: 270px;
  margin-top: 20px;
}

.bg-pink{
  background-color: #dc548a;
}

.q-main {
  margin-top: 30px;
}

#question-header{
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
}

.move-title{
  font-size: 30px;
  font-weight: bold;
}

.justify-content-center{
  margin-left: -40px;
}

.back-button{
  margin-left: -70px;
}

.l-button{
  margin-top: 18px;
}

#buttons{
  margin-left: 230px;
  margin-top: 10px;
}

#next_buttons{
  margin-top: 10px;
}

#popup{
  margin-top: 20px;
}

.test {
  color:blue
}

.navbar-brand{
  color: #fcf9fa !important;
  padding: 12px;
  padding-left: 15px;
}