#btn-knowledge {
  width: 100%;
  margin: 10px 0px;
  padding: 20px 0px;
}

#btn-learn {
  width: 100%;
  margin: 10px 0px;
  padding: 20px 0px;
}

body, html {
  height: 100%;
}

.btn{
  background-color: hotpink;
  border-color: #ff0000;
}

.btn-p{
  margin-left: 300px;
}

.circular{
  border-radius: 50%;
  width: 100%;
}

.index-title{
  margin-top: 100px;
  color: rgba(255, 13, 191);
  font: italic 5em "Fira Sans", serif;
  text-shadow: 2px 2px #ff0000;
}

.first-btn{
  margin-top: 30px;
}

.move-title {
  padding-top: 20px;
}

.material {
  margin-left: 270px;
  margin-top: 20px;
}

.bg-pink{
  background-color: #ff61b0;
}

.q-main {
  margin-top: 30px;
}

#question-header{
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
}

.move-title{
  font-size: 30px;
  font-weight: bold;
}

.justify-content-center{
  margin-left: -40px;
}

.back-button{
  margin-left: -70px;
}

.l-button{
  margin-top: 18px;
}

#buttons{
  margin-left: 230px;
  margin-top: 10px;
}

#next_buttons{
  margin-top: 10px;
}

#popup{
  margin-top: 20px;
}

