{% extends "layout.html" %}

{% block content %}

  <div class="row justify-content-center">
    <div class="col-6">
      <div class="text-center index-title">
        Learn Wrestling
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-5">
      <img src="/static/pics/index-bg.png" alt="index-pg-img" class="circular">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-3 first-btn">
      <a class="btn btn-primary text-center"
         id="btn-learn"
         href="/learn/1"
         role="button">Learn Seven Basic Moves</a>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-3">
      <a class="btn btn-primary text-center"
         id="btn-knowledge"
         href="/quiz/1"
         role="button">Test Your Knowledge</a>
    </div>
  </div>




{% endblock %}
