{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'quiz_sa.js') }}"></script>

<script>
    let current_score = {{ score | tojson }}
    let dict = {{ data | tojson }}
    let score = {{score | tojson }}
    let current_question = {{ question_num | tojson }}
</script>

<div class="container-fluid q-main">
    <div class="row">
        <div class="col-md-3">
            <div id="question-header"></div>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-3" id="score">
        </div>
    </div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-5">
        <div id="video"></div>
        <div id="short-ans">
            What move is this?
            <div>
                <input type="text" id="user-shortans">
                <span id="symbol"></span>
            </div>
        </div>
        
    </div>

    <div class="col-md-3">
        <div id="popup"></div>
        <div id="returntolearn"></div>
    </div>
</div>
    
<div class="row">
    <div class="col-md-3" id="buttons">
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-3" id="next_buttons">
    </div>
</div>
</div>



{% endblock %}
