{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'quiz_mc.js') }}"></script>

<script>
    let current_score = {{ score | tojson }}
    let dict = {{ data | tojson }}
    let score = {{ score | tojson }}
    let current_question = {{ question_num | tojson }}
</script>

<div class="container-fluid q-main">
<div class="row">
    <div class="col-md-3">
        <div id="score"></div>
    </div>
    <div class="col-md-6">
        <div id="question-header"></div>
    </div>
    <div class="col-md-3">
    </div>
</div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div id="video"></div>
    </div>
    <div class="col-md-3">
        <div id="popup"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 material">
            <div id="options">
                <div class="subhead">
                    What move is this?
                </div>
                <div><input type="radio" name="choice" value="gw" id="gw">
                    <label for="gw">Gut Wrench</label>
                    <span class="feedback" id="gw-feedback"></span>
                </div>
                <div><input type="radio" name="choice" value="ps" id="ps">
                    <label for="ps">Penetration Step</label>
                    <span class="feedback" id="ps-feedback"></span>
                </div>
                <div><input type="radio" name="choice" value="sla" id="sla">
                    <label for="sla">Single Leg Attack</label>
                    <span class="feedback" id="sl-feedback"></span>
                </div>
                <div><input type="radio" name="choice" value="dla" id="dla">
                    <label for="dla">Double Leg Attack</label>
                    <span class="feedback" id="dl-feedback"></span>
                </div>
                <div><input type="radio" name="choice" value="s" id="s">
                    <label for="s">Sprawl</label>
                    <span class="feedback" id="s-feedback"></span>
                </div>
                <div><input type="radio" name="choice" value="l" id="l">
                    <label for="l">Leg Lace</label>
                    <span class="feedback" id="l-feedback"></span>
                </div>
                <div><input type="radio" name="choice" value="sn" id="sn">
                    <label for="sn">Snapdown</label>
                    <span class="feedback" id="sn-feedback"></span>
                </div>
            </div>
    </div>
    <div class="col-md-3">   
    </div>
</div>
<div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-3">
        <div id="next_buttons" class="next_mc_positioning"></div>
    </div>
    <div class="col-md-3">
    </div>
</div>
</div>
</div>
</div>
</div>



{% endblock %}
