{% extends "layout.html" %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-5">
    <div class="h3 text-center index-title">
      Your final score is: {{score}}!
    </div>
    <div class="h4 text-center">
      <div class="row justify-content-center">
        <div class="col-3">
          <a class="btn btn-primary text-center"
             id="btn-learn"
             href="/learn/1"
             role="button">Review the Moves Again!</a>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
